// прижимаем футер к низу
.footer {
width: 100%;
height: auto;
margin-top: 16px;
opacity: 0.8;
position: fixed;
bottom: 0; left: 0;
		
    // ставим содержимое подвала по бокам
		&__content {
            width: 100%;
            height: inherit;
            display: flex;
            gap: 8%;
            justify-content: space-between;
            align-items: center;
		}
        p {
            text-wrap: nowrap;
        }
}
// ----------------------------------------------------------------------------------------------------------------