// -- базовый сброс стилей
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    vertical-align: top;
    flex-shrink: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
button {
    all: initial;
}
nav {
    display: flex;
}
ul, li {
    list-style: none;
}
// --------------

