// ------ повторяющееся корневые значения стилей: 
:root {
    --container-max-width:  1200px;
    --margin-y: 45px;
    // значения цветовой палитры:
    // -------------------
    --rich-black: #333333; 
    --accent-color: #069978;
    --hover-color: #0edfb2;
    --gradient: linear-gradient(135deg, #046e5f 0%, #069978 100%);  
}