.services {
    width: 100%;
    height: auto;
    margin-block: var(--margin-y);

		&__content {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            gap: var(--margin-y);
		}

		&__heading {
            text-align: left;
            max-width: 96%;
            display: flex;
            flex-flow: column nowrap;
            row-gap: 18px;
		}

		&__cards {
            width: 96%;
            height: auto;
            // оформление:
            background:var(--gradient);
            border-radius: 20px;
  padding: 40px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.2); 
//   выравнивание и позиционирование: 
display: flex;
flex-flow: row wrap;
gap: 32px;
justify-content: space-evenly;
align-items: center;

		}

		&__cta {
            margin-block: 32px;
		}
}
.card {
    width: 35%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
    row-gap: 32px;
    border-radius: 16px;
    padding: 32px;
    border: none;
    background-color: #f1f1f1;
    @include tablet {
        width: 85%;
        padding: 16px;
    }

		&__picture {
            width: 120px;
            aspect-ratio: 1;
		}

		&__title {
            margin-bottom: 8px;
            max-width: 96%;
		}

		&__description {
             margin-bottom: 8px;
            max-width: 96%;
		}
}

