// подключаем семейство шрифтов для заговков: 
@font-face {
     font-family: "Poppins", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
    font-style: normal;
    font-weight: 400 900;
}
// семейство шрифтов для тела: 
@font-face {
    font-family:"Baskervville", serif; 
    src: url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');
    font-style: normal;
    font-weight: 400 900;
}

// пишем ограничивающий контейнер: 
[class*="__wrapper"] { 
width: 100%;
max-width: var(--container-max-width);
height: auto;
margin: 0 auto;
padding-inline: 8px;
display: block;

@include tablet-b {
    max-width: 750px;
}
@include tablet {
    max-width: 460px;
    
   
}
@include mobile {
    max-width: none;
}
}
// расчитываем стандартную типографию по фигма 
// главный загооловок:
h1 {
    font-family: "Poppins", sans-serif;
    font-size: clamp(64px, 4.5vw, 66px);
    line-height: calc(72 / 66 * 100%);
}
// заголовок раздела:
h2 {
    font-family: "Poppins", sans-serif;
    font-size: clamp(39px, 2.8vw, 41px);
    line-height: calc(47 / 41 * 100%);
}
// подзаголовок: 
h3  {
    font-family: "Poppins", sans-serif;
    font-size: clamp(23px, 1.7vw, 25px);
    line-height: calc(31 / 25 * 100%);
}
//  подзаголовок блока: 
h4 {
    font-family: "Poppins", sans-serif;
    font-size: clamp(18px, 1.3vw, 20px);
    line-height: calc(26 / 20 * 100%);
}
p {
    font-size: clamp(16px, 1.25vw, 18px);
    line-height: calc(24 / 18 * 100%);
}
a {
    font-size: clamp(18px, 1.3vw, 20px);
    line-height: calc(27 / 20 * 100%);
}
// стандартные размеры шрифта малой кнопки: 
.button-sm {
    font-size: clamp(14px, 1.2vw, 16px);
    line-height: calc(16 / 24 * 100%);

}
// стандартные размеры шрифта большой кнопки:
.button-lg {
 font-size: clamp(18px, 1.3vw, 20px);
    line-height: calc(27 / 20 * 100%);

}
li {
    font-size: clamp(16px, 1.25vw, 18px);
    line-height: calc(24 / 18 * 100%);
}
// ------------------------------------------------
body, html {
    width: 100%;
    height: auto;
    min-height: auto;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family:"Baskervville", serif; 
    text-align: left;
}